body {
}

.loginBackground, .login {
    height: calc(100vh - 56px);
    width: 100%;
}

.loginBackground {
    background: url(Img/InlogBackground.PNG) center / cover no-repeat;
}

.login {
    background: #F5F5F5;
}

.tinted-image::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #ed1b34;
    opacity: 0.6;
}

.tinted-image::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #ed1b34;
    mix-blend-mode: multiply;
}